[user]
	name = USAMI Kenta
	email = tadsan@zonu.me
[alias]
	f = fetch
	s = status
	l = log --graph
	d = diff
	ds = diff --staged
	c = checkout
	c- = !git checkout $(git branch | peco)
	b = branch
	pr = pull --rebase
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[core]
	excludesfile = ~/.gitexclude
	filemode = false
	autocrlf = false
	precomposeunicode = true
[push]
	default = tracking
