[user]
	name = USAMI Kenta
	email = tadsan@zonu.me
[alias]
	f = fetch
	s = status
	l = log --graph
	d = diff
	ds = diff --staged
	c = checkout
	c- = !git checkout "$(git branch | peco | cut -d'*' -f2 | xargs)"
	b = branch
	pr = pull --rebase
	psuh = push
	delete-merged-branches = !git branch --merged | grep -v '[*+]' | xargs -I % git branch -d %
[core]
	excludesfile = ~/.gitexclude
	filemode = false
	autocrlf = false
	precomposeunicode = true
	pager = delta
[push]
	default = tracking
[github]
	user = zonuexe
[pull]
	rebase = true
[init]
	defaultBranch = master
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true	# use n and N to move between diff sections
	light = false   # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[fetch]
	showForcedUpdates = true
