[submodule ".emacs.d/site-lisp/php-extras"]
	path = .emacs.d/site-lisp/php-extras
	url = git@github.com:arnested/php-extras.git
[submodule ".spacemacs/.emacs.d"]
	path = .spacemacs/.emacs.d
	url = git@github.com:syl20bnr/spacemacs.git
[submodule "ttcopy"]
	path = ttcopy
	url = https://github.com/greymd/ttcopy.git
[submodule ".emacs.d/site-lisp/quelpa"]
	path = .emacs.d/site-lisp/quelpa
	url = git@github.com:quelpa/quelpa.git
[submodule "leaf"]
	path = .emacs.d/site-lisp/leaf
	url = git@github.com:conao3/leaf.el.git
[submodule "leaf-keywords"]
	path = .emacs.d/site-lisp/leaf-keywords
	url = git@github.com:conao3/leaf-keywords.el.git
