[submodule "key-chord"]
	path = .emacs.d/borg/key-chord
	url = git@github.com:zk-phi/key-chord.git
[submodule "lsp-bridge"]
	path = .emacs.d/borg/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge
[submodule "smartchr"]
	path = .emacs.d/borg/smartchr
	url = git@github.com:imakado/emacs-smartchr.git
[submodule "wiz"]
	path = .emacs.d/borg/wiz
	url = git@github.com:zonuexe/emacs-wiz.git
