[user]
	name = USAMI Kenta
	email = tadsan@zonu.me
[alias]
	s = status
	l = log --graph
	d = diff
	ds = diff --staged
	c = checkout
	b = branch
	pr = pull --rebase
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[core]
	excludesfile = ~/.gitexclude
[push]
	default = tracking
