/*.elc
/*.plstore
/.cask
/.edbi-ds-history
/abbrev_defs
/ac-comphist.dat
/async-bytecomp.log
/auto-save-list
/bookmarks
/dictionaries
/META-INF
/ede-projects.el
/el-get/
/emms/
/eshell/
/flycheck_*
/geben
/ido.last
/games/
/hacker-typer/
/haskell-fun/
/keyfrek.html
/network-security.data
/newsticker/
/notes
/projectile-*
/recentf*
/request/
/session.*
/site-lisp/*.elc
/smex-*
/srecode-map.el
/tramp
/tutorial
/url/
/var/

/.my-private.el
