/*.elc
/*.plstore
/.cache/
/.cask
/.edbi-ds-history
/.my-private.el
/META-INF
/abbrev_defs
/ac-comphist.dat
/async-bytecomp.log
/auto-save-list
/bookmarks
/dictionaries
/ede-projects.el
/el-get/
/elpa/
/emms/
/eshell/
/flycheck_*
/games/
/geben
/hacker-typer/
/haskell-fun/
/ido.last
/image-dired/
/keyfrek.html
/logview-cache.extmap
/network-security.data
/newsticker/
/notes
/projectile-*
/quelpa/
/recentf*
/request/
/session.*
/site-lisp/*-autoloads.el
/site-lisp/*.elc
/smex-*
/srecode-map.el
/tramp
/transient/
/tutorial
/url/
/var/
