/*.elc
/.cask
/abbrev_defs
/ac-comphist.dat
/auto-save-list
/eshell/
/flycheck-*
/games/
/haskell-fun/
/network-security.data
/newsticker/
/notes
/projectile-*
/recentf*
/request/
/smex-*
/tramp
/tutorial
/url/
/var/
